/*

TemplateMo 567 Nomad Force

https://templatemo.com/tm-567-nomad-force

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #FFFFFF;
  --primary-color:                #ffc107;
  --section-bg-color:             #f9f9f9;
  --dark-color:                   #000000;
  --grey-color:                   #fcfeff;
  --text-secondary-white-color:   rgba(255, 255, 255, 0.98);
  --title-color:                  #565758;
  --p-color:                      #717275;

  --body-font-family:           font-family: "Poppins", sans-serif;

  --h1-font-size:               72px;
  --h2-font-size:               42px;
  --h3-font-size:               36px;
  --h4-font-size:               32px;
  --h5-font-size:               24px;
  --h6-font-size:               22px;
  --p-font-size:                20px;
  --copyright-text-font-size:   14px;
  --custom-link-font-size:      12px;

  --font-weight-light:          300;
  --font-weight-normal:         400;
  --font-weight-bold:           700;
  --font-weight-black:          900;
}
html {
  overflow-x: hidden
  }
body,
html {
  height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  letter-spacing: 0.5px;
}
.fate {
  -webkit-mask-image: linear-gradient(180deg, #000 40%, transparent);
}
/*---------------------------------------
  NEWS & EVENTS               
-----------------------------------------*/

.news,
.related-news {
  background: var(--section-bg-color);
}

.news-thumb {
  position: relative;
}

.news-category {
  background: var(--white-color);
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  padding: 4px 12px;
  display: inline-block;
}

.news-text-info {
  margin: 0 20px;
}

.news-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.news-title-link {
  color: var(--title-color);
  display: inline-block;
}

.news-title-link:hover {
  color: var(--dark-color);
}

.portfolio-image,
.news-image {
  display: block;
  transition: transform 0.6s ease-out;
}

.news-image-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  padding-bottom: 4px;
  height: 100%;
}

.news-image-hover::after {
  content: "";
  width: 0;
  height: 4px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
  background: #198754;
}

.news-image-hover-warning::after {
  background: #ffc107;
}

.news-image-hover-primary::after {
  background: #0d6efd;
}

.news-image-hover-success::after {
  background: #198754;
}

.news-image-hover:hover::after {
  width: 100%;
  left: 0;
  right: auto;
  z-index: 9;
}

.image-popup:hover .portfolio-image,
.news-image-hover:hover .news-image {
  transform: scale(1.02);
}

.news-two-column {
  min-height: 199px;
  margin-bottom: 16px;
}

.news-two-column .news-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-share-link,
.social-share-link + span {
  color: rgba(71, 66, 66, 0.65);
}
.social-share-icons {
  color:#54B48C
}
/* a {
  color :#142810;
} */
.comments li{
  list-style-type: none;
  margin-bottom: 4px;
  padding: 10px;  
}
.li-div{
  border-bottom: 1px solid #a7a7a7;
  margin-bottom: 4px;
  padding: 10px;  
}
/* profile image */
.profile-img{
  width:4%;
  border-radius: 50%;
}
/*---------------------------------------
  SECTION               
-----------------------------------------*/

.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: rgba(255, 255, 255, 0.45);
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}
/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
  background: var(--dark-color);
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.site-footer .custom-link {
  color: rgba(255, 255, 255, 0.65);
  font-size: var(--p-font-size);
}

.site-footer .custom-link:hover,
.site-footer .social-icon-link:hover {
  color: var(--white-color);
}

.copyright-text {
  color: rgba(255, 255, 255, 0.45);
  font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: rgba(255, 255, 255, 0.45);
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}
/*---------------------------------------
  PORTFOLIO               
-----------------------------------------*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  margin: 20px;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .news-two-column {
    min-height: 232.5px;
  }
}

@media screen and (max-width: 991px) {
  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .team-thumb {
    left: 0;
    width: auto;
  }

  .news-two-column {
    height: auto !important;
    min-height: inherit;
  }

  .news .col-12 .news-two-column:first-child {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 767px) {
  .news-detail-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 14px;
  }
}

@media screen and (max-width: 359px) {
  .news-detail-title {
    font-size: 22px;
  }
}

