{% extends "backOffice.html.twig" %}
{% block title %}<title>Ajout catégorie</title>{% endblock %}
{% block leftNavBar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Ajouter une catégorie</a>
        </li>
    </ul>
{% endblock%}
{% block cards %}
<div class="content-wrapper">
    <div class="container-fluid">
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
{{form_row(form.categoryName)}}
{{ form_end(form) }}
    </div>
</div>
{% endblock %}