<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{asset('/styles403/403.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>

    <div class="container">
  <h1>4<div class="lock"><div class="top"></div><div class="bottom"></div>
    </div>3</h1><p>Access denied</p>
</div>
</body>
    <script src="/frontOffice/js/403.js"></script>


</html>