{% extends "document/frontDoc.html.twig" %}
{% block title %}
    <title>Ajout d'un document</title>
{% endblock %}
{% block custom %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    </br>
    <div class="container" style="text-align:left;font-size: 20px;">{{ form(f,{'attr':{'novalidate':'novalidate'}}) }}</div>
    </br>
    {#
    <script>
        var $documentNiveau = $('#document_niveau');
        // When sport gets selected ...
        $documentNiveau.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$documentNiveau.attr('name')] = $documentNiveau.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                complete: function(html) {
                    // Replace current position field ...
                    $('#document_matiere').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html.responseText).find('#document_matiere')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
    #}
    {% include "conversation.html.twig" %}
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}

