{% set cuEt=app.user.username~" "~app.user.prenom %}
<p>{{ textBody }}</p>
<p style="font-style: italic; font-weight:bold; color: #4bc5b8;">Ce document est envoyé depuis la plateforme EDSPACE par {{ cuEt }}</p>