<form method="post" action="{{ path('choixNiveau',{'role':0}) }}" >
<button>Agent de scolarité</button>
</form>
<form method="post" action="{{ path('choixNiveau',{'role':1}) }}" >
<button>Etudiant</button>
</form>