{% extends "backOffice.html.twig" %}
{% block leftNavBar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('emploi') }}" class="nav-link">Les propositions des emplois</a>
        </li>
    </ul>
{% endblock%}
{% block cards %}
    <div class="content-wrapper"> <!-- don't delete this line-->
        <div class="container-fluid"> <!-- don't delete this line-->
            <h1 class="">La liste des emplois</h1>
        </div>
    </div>
{% endblock %}